<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card  login-container" content-tabs tabsdata='tabsdata'>
        <my-tabs>
              <my-tab title="Email">
                <div class="list">
                 <form name="forgot_password_email_form" class="" novalidate>
                  <label class="item item-input">
                    <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
                     <span class="invalid" ng-show="!forgot_password_email_form.user_email.$error.required && forgot_password_email_form.user_email.$error.email && forgot_password_email_form.user_email.$dirty">Invalid email</span>
                  </label>
                    <div class="item item-body">
                        <button type="button" class="button button-positive button-block" ng-click="recoverPasswordonEmail()" ng-disabled="forgot_password_email_form.$invalid">
                          Recover it
                        </button>
                      </div>
                      </form>
                </div> 
              </my-tab>               
              <my-tab title="Mobile">
                <div class="list">
                <form name="forgot_password_form" class="" novalidate>
                  <label class="item item-input">
                    <input type="text" placeholder="Mobile number" ng-if="!email" ng-model="user.mobile" name="mobile" ng-pattern="/^(\d)+$/" minLength="10" maxLength="10" required>
                  <span class="invalid" ng-show="!forgot_password_form.mobile.$error.minLength && !forgot_password_form.mobile.$error.maxLength && forgot_password_form.mobile.$error.pattern">Invalid Mobile No</span>
                  </label>
                  <div class="item item-body">
                        <button type="button" class="button button-positive button-block" ng-click="recoverPasswordonMobile()" ng-disabled="forgot_password_form.$invalid">
                          Recover it
                        </button>
                  </div>
                  </form>
                </div>

              </my-tab>
        </my-tabs>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Log In
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup"  style="width: 80px;">
            Sign Up
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>
