<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="Sign In">
                <div class="list">
                  <label class="item item-input">
                    <input type="number" placeholder="Mobile number" ng-model="user.mobile" name="mobile" ng-pattern="/^(\d)+$/" minLength="10" maxLength="10" required>
                  <span class="invalid" ng-show="!login_form.mobile.$error.minLength && !login_form.mobile.$error.maxLength && login_form.mobile.$error.pattern">Invalid Mobile No</span>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="PIN" name="password" ng-model="user.password" minlength="5" maxlength="15" required  show-hide-input>
                    <span class="invalid" ng-show="!login_form.password.$error.required && (login_form.password.$error.minlength || login_form.password.$error.maxlength) && login_form.password.$dirty">Passwords must be between 5 and 15 characters.</span>
                    
                  </label>
                </div>

              </my-tab>
            </my-tabs>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="doLogIn()" ng-disabled="selected_tab=='Phone' ? (login_form.user_mobile.$invalid || login_form.user_password.$invalid) : false">
                Log In
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
            Forgot Password?
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup" style="width: 80px;">
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
