<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="otp_form" class="" novalidate>
          <my-tabs>
              <my-tab title="OTP">
               <div class="item item-body" style="font-size: 14px;">Please enter one time password sent on your mobile
                  <label class="item item-input">
                    <input type="number" placeholder="OTP" name="user_otp" ng-model="otp" required>
                  </label>
                </div>
                <div class="item item-body">
                  <button type="submit" class="button button-positive button-block" ng-click="submitOTP(otp)" ng-disabled="resendStatus">
                    Submit
                  </button>
                </div>
                <div class="item item-body bottom-content">
                  <button type="button" class="button button-positive button-block" ng-click="resendOTP()" ng-disabled="!resendStatus">
                    Resend
                  </button>
                </div>
              </my-tab>
            </my-tabs>
          </form>
        </div>
      <!--   <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Log In
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            Sign Up
          </a>
        </div>
      </div> -->
    </div>
  </ion-content>
</ion-view>
