<ion-view class="bookmarks-view">
  <ion-nav-title>
    <span></span>
  </ion-nav-title>
  <ion-content>
    <div ng-if="(balance === 0)" class="row bookmarks-container">
      <div class="col col-center">
        <div class="empty-results">
          <img src="img/Indian_Rupee_symbol.png" style="height: 150px; width: 150px;"/>
          <h3 class="no-bookmarks">There's nothing here yet as your balance is {{balance}} Rs. please Recharge!</h3>
        </div>
      </div>
    </div>
    <div ng-if="!(balance === 0)" class="row bookmarks-container">
      <div class="col col-center">
        <div class="empty-results">
          <img src="img/Indian_Rupee_symbol.png" style="height: 150px; width: 150px;"/>
          <h3 class="no-bookmarks"><strong>Your balance is <strong>{{balance}}  Rs</strong>. </h3>
        </div>
      </div>
    </div>    
  </ion-content>
</ion-view>
