<ion-view class="profile-view" cache-view="false">
 <ion-content>
    <div class="row">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form name="profile_form" class="" novalidate>
          <style type="text/css">  
          .item-select {
              width: 100%;
           }

          .item-select select {
                    left: 0;
           }
           </style>
            <div class="item item-body">
              
                
              <label class="item item-input">
                <input type="text" placeholder="Email" ng-disabled="true" name="user_email" ng-model="user.name" required>
                
              </label>
               <ion-toggle toggle-class="toggle-energized" ng-model="editPassword" >change the password</ion-toggle>
                <ion-toggle toggle-class="toggle-energized" ng-model="newAddress">change the address</ion-toggle>
              <div class="card" ng-if="editPassword" >
                   <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="Enter Password"   name="opassword" ng-model="user.originalPassword" type="password"  required show-hide-input>
                    <span class="invalid" ng-show="profile_form.opassword.$error.required && profile_form.opassword.$dirty">Please enter your password.</span>
                  </label>

                 <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="Password" name="npassword" ng-model="user.newpassword"  minlength="5" maxlength="15" required show-hide-input>
                    <span class="invalid" ng-show="!profile_form.npassword.$error.required && (profile_form.npassword.$error.minlength || profile_form.npassword.$error.maxlength) && profile_form.npassword.$dirty">Passwords must be between 5 and 15 characters.</span>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="Confirm Password" name="confirmpassword" ng-model="user.confirmpassword" type="password" match="user.newpassword" required show-hide-input>
                    <span class="invalid" ng-show="profile_form.confirmpassword.$error.required && profile_form.confirmpassword.$dirty">Please confirm your password.</span>
                    <span class="invalid" ng-show="!profile_form.confirmpassword.$error.required && profile_form.confirmpassword.$error.match && profile_form.npassword.$dirty">Passwords do not match.</span>
                  </label>
                    <div class="item ">
                        <button type="button" class="button button-assertive button-block" ng-click="changePassword()"  ng-disabled="profile_form.$invalid || isPassDisabled">Save
                        </button>
                    </div>
             </div>
              <div ng-if="! editPassword ">
                  <label class="item item-input">
                    <input type="text" placeholder="Address" name="user_address" ng-disabled="!newAddress" ng-model="user.address" required>
                    <span class="invalid" ng-show="profile_form.user_address.$error.required && profile_form.user_address.$dirty">Address Required</span>
                  </label>
                  <label class="item item-input item-select">
                    <div class = "input-label">State</div>
                     <select name="state" ng-model="user.state" ng-disabled="!newAddress" ng-change="GetSelectedMasterCity(user.state)" ng-options="state.id as state.name for state in states" ng-selected="state.id==user.state" ng-value="state.id" required>
                     </select>
                  </label>
                  <label class="item item-input item-select">
                    <div class = "input-label">Master City</div>
                     <select name="master_city" ng-model="user.master_city" ng-disabled="!newAddress" ng-change="GetSelectedCities(user.master_city)" ng-options="mc.id as mc.name for mc in masterCity" ng-value="mc.id" ng-selected="mc.id==user.master_city" required>
                     </select>
                  </label>

                  <label class="item item-input item-select"> 
                   <div class = "input-label">City</div>
                    <select name="city" ng-model="user.city" ng-disabled="!newAddress " ng-change="GetSelectedAreas(user.city)" ng-options="city.id as city.name for city in citys" ng-value="city.id"  ng-selected="city.id==user.city" required>
                    </select>
                  </label>
                  <label class="item item-input item-select">
                    <div class = "input-label">Area</div>
                    <select name="area" ng-model="user.area" ng-options="area.id as area.name for area in Areas" ng-value="area.id" ng-selected="area.id==user.area" required ng-disabled="!newAddress">
                    </select>
                  </label>

                    <div class="item ">
                        <button type="button" class="button button-assertive button-block" ng-click="saveAddress()"  ng-disabled="profile_form.$invalid || isAddressDisabled">Save
                        </button>
                    </div>
              </div>

          </form>
        </div>
       
  </ion-content>
</ion-view>


