<ion-view cache-view="false">
    <ion-tabs tabs-swipable class="tabs-stable tabs-icon-top currenttab">
        <ion-tab title="Current Orders" ui-sref="app.orders.currentOrders" >
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Orders History" ui-sref="app.orders.ordersHistory" >
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>