
<ion-view   class="feeds-categories-view orderView" cache-view="false">
    <ion-content >
         <ion-list>
            <ion-item class="item-thumbnail-left"  ng-repeat="order in orders" ui-sref="app.orderDetails({orderType: 'old',id:order.id})">
                <img src="img/icon.png" style="top: 0px!important;">
                 <h2>ORDTDRK{{10000+order.id}}v{{order.id}}</h2>
                <p>Total : {{order.total}} Rs</p>
                
            </ion-item>
           
        </ion-list>
    </ion-content>
</ion-view>