<ion-view view-title="" class="" cache-view="false">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false">
    <div ng-if="products.length == 0">
      <div class="empty-cart">
        <h3 class="no-products" style="padding-top: 40px;text-align: center;">Your shopping cart is empty</h3>
      </div>
    </div>
    <div ng-if="products.length > 0">
      <div class="products-list">
        <div class="product-list-item" ng-repeat="product in products">
          <div class="row product-title-wrapper"  style="width: 100%;">
            <span class="product-title">{{product.name}}</span>
            <span class="product-title">{{' ('+product.hindi_name+')'}}</span>
          </div>
          <div class="row product-content-wrapper"  style="margin-bottom: -8px;"> 
            <div class="col col-25">
               <div class="product-picture" style="height: 65px;width: 65px;border-radius: 50%;">
                  <img ng-src="{{product.image_domain + product.image}}" check-image>
                </div>
             </div> 
              
                <div class="row remove-product-wrapper" style="margin-top: 24px;">
                 <div class="col col-center col-25 product-options-wrapper" style="margin-top: -31px;margin-left: -12px;margin-right: 10px;">
                  <div class=" select-option">
                    <span>{{product.quantity + product.quan}}</span>

                  </div>
                </div> 
                  <div class="col col-center col-30 select-option" style="margin-top: -31px;width: 150px;margin-left: -11px;">
                    <span >{{product.price + " /" + product.quan}}</span> 
                  </div> 
                  <div class="col col-center col-25 select-option" style="margin-top: -37px;margin-left: -80px;margin-right: 32px;">
                     <button class="button button-clear button-small button-assertive remove-product-button cartremovebutton ion-ios-trash" ng-click="removeProductFromCart(product)">
                     
                    </button>
                   
                   
                  </div>
                  <div class="col col-center col-25" style="margin-top: -37px;margin-left: -45px;margin-right: -3px;">
                    <span class="product-price">{{roundToTwo(product.price*product.quantity)}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row item item-divider shop-section-title" style="margin-top: 13px;" ng-if="sumofAll >0">
        <span class="title-copy col col-center col-80">Total</span>
        <span class="checkout-total-price section-action right col col-20">{{ sumofAll }} </span>
       
      </div>
      <div class="row item item-divider product-title-wrapper" ng-if="subdata.length ===0 && (sumofAll >0 && sumofAll <150)">
        <span class="product-title col col-center col-80" >Minimum order should be of Rs 150 </span>
        </div>
        <div class="row item item-divider product-title-wrapper" ng-if="subdata.length ===0 && (sumofAll >0 && sumofAll <150)">
         <span class="product-title col col-center col-80" >You are short of Rs {{150-sumofAll}}</span>
      </div>
      <div class="row item item-divider product-title-wrapper"  ng-if="!offerinfo && products.length > 0">
                <form name="offers_form" style="position: relative;">
                          <div class="form-group">
                            
                              <input class="account_input form-control" type="text" ng-model="offer" style="position: relative;margin-top: 5px;width: 178px;border-radius: 7px;" required>
                            
                              <button class="btn btn-outline button button-block button-assertive" type="button" ng-click="offerCheck(offer)"  ng-disabled="offers_form.$invalid || isDisabled" style="float: right;position: absolute;margin-top: -35px;border-radius: 4px;min-height: 37px;line-height: 10px;margin-left: 180px;">
                                    Apply Coupon Code
                              </button>
                            
                          </div>
                </form>
      </div>
      <div class="row padding" ng-if="sumofAll >0 && (sumofAll >=150 || subdata.length >0) ">
     <!--  <a ui-sref="app.shipping"> -->

        <button class="button button-block button-energized checkout-btn" ng-click="go()" style="margin-top: 16px;">
          Continue to Checkout
        </button>
       <!--  </a> -->
      </div>
      <div class="cart-prices-line" ng-if="offerinfo && products.length > 0">
                      <p class="cart_block_no_products" style="padding: 9px 13px;font-size: 15px;font-weight: 700;">ORDER SUMMARY
                      </p>
                        <table>
                          <tr><td style="padding: 5px 10px;width: 263px;">Price</td><td>Rs. {{oldTotal}}</td></tr>
                          <tr><td style="padding: 5px 10px;width: 263px;">Coupon Discount</td><td>Rs. {{discont}}</td></tr>
                          <tr><td style="padding: 5px 10px;width: 263px;">Total</td><td>Rs {{sumofAll}}</tr></tr>
                        </table>
                      </div>
    </div>
  </ion-content>
  </ion-view>
