<ion-view title="">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header subscriptionPage">
        <img ng-src="{{milk.image_domain + milk.image}}" class="titleimg" style="top: 0px!important;" check-image>
        <div class="titlesub">
        	<h4>{{milk.name}}</h4>
            <p>{{milk.price}} Rs</p>
        </div>
        <div class="title-sub-content">
        	<div>
        		<label style="position: relative;">Quantity per day</label>
           		<input type="text" ng-model="milk.quantity" class="style-sub-field" ng-disabled="true"/>
            </div>
            <div style="margin-top: 17px;">
        		<label style="position: relative;">Frequency per day</label>
                <input type="text" ng-model="milk.frequency" class="style-sub-field" ng-disabled="true"/>
           		<!-- <select ng-model="milk.frequency" ng-selected="{{frequencyList.value==frequency}}" ng-options="i.value as i.value for i in frequencyList" class="style-sub-field"><option value="">Select a frequency</option>'+
                '</select> -->
            </div>
            <div style="margin-top: 17px;">
        		<label style="position: relative;">Delivery time</label>
                <input type="text" ng-model="milk.delivery_time" class="style-sub-field" ng-disabled="true"/>
            </div>
        </div>
        <div class="title-sub-content">
            <h4 style="margin-top: -5px;">Total for {{day_count}} day(s)</h4>
            <div style="margin-top: 17px;">
        		<label style="position: relative;">Total Price</label>
           		<input type="text" ng-model="milk.total_price" name="total_price" ng-disabled="true" class="style-sub-field"/>
            </div>
            <div style="margin-top: 17px;">
        		<label style="position: relative;">Total Quantity</label>
           		<input type="text" ng-model="total_qty" name="total_qty" ng-disabled="true" class="style-sub-field"/>
            </div>
            <div style="margin-top: 17px;">
        		<label style="position: relative;">Remaining Quantity</label>
           		<input type="text" ng-model="milk.remaing_quantity" name="remaing_quantity" ng-disabled="true" min="1" step="1" class="style-sub-field" required/>
            </div>
            
        </div>
        <div class="title-sub-content">
        <h4 style="margin-top: -5px;">Select date for modification</h4>
            <div style="margin-top: 17px;">
	            <multiple-date-picker disable-days-before="today" day-click="checkSelection" ng-model="myArrayOfDates" disable-days-after="lastDay"></multiple-date-picker>
                
                        <div style="position: relative;margin-top: 12px;margin-left: -26px;">
                            <div class="box" style="background-color: #059c03;"></div><span style="position: absolute;margin-top: -22px;margin-left: 116px;width: 157px;font-weight: 600;font-size: 14px;"> : Delivered Order</span>
                            <div class="box" style="background-color: #00cefc;"></div><span style="position: absolute;margin-top: -22px;margin-left: 116px;width: 157px;font-weight: 600;font-size: 14px;"> : Order Remaining</span>
                            <div class="box" style="background-color: #bbbec2;"></div><span style="position: absolute;margin-top: -22px;margin-left: 116px;width: 157px;font-weight: 600;font-size: 14px;"> : Order Unavailable</span>
                        </div>
                <div style="margin-top: 17px;" ng-if="selected_dates.length>0">
                    <h4>I don't want product on :</h4>
                    <span ng-repeat="s in selected_dates" style="margin-right: 20px;">{{s}} </span>
                </div>
                <div style="margin-top: 17px;" ng-if="excpdeldate.length>0">
                    <h4>I want product on :</h4>
                    <span ng-repeat="s in excpdeldate" style="margin-right: 20px;">{{s}} </span>
                </div>
		         <div>
                    <button type="button" class="button button-positive button-block" ng-if="selected_dates.length>0 || excpdeldate.length>0" ng-click="saveexceptiondate()">Save
                    </button>
                </div>
            	
            </div>
        
        </div>
    </ion-content>
</ion-view> 
