<ion-view title="" class="layouts-view">
    <ion-content>
    <div ng-if="subdata.length == 0">
      <div class="empty-cart">
        <h3 class="no-products" style="padding-top: 40px;text-align: center;">Sorry !!!</h3>
        <br>
        <div class="align-center">
          <div>You don't have any subscription</div>
          <br>
          <div>Please contact <strong>{{ContactInfo.mobile}}</strong> to Subscribe product</div>
        </div>
      </div>
    </div>
      <div class="list layouts-functionalities">
        <a class="item item-icon-left item-icon-right item-thumbnail-left" ng-repeat="s in subdata" ui-sref="app.subscription_detail({id:s.id})">
            <img ng-src="{{s.image_domain + s.image}}" check-image>
          <div style="margin-top: 27px;">
            <h2><span style="display: inline-block;white-space: pre-line;">{{s.name}}</span></h2>
          </div>
          <i class="icon ion-arrow-right-c"></i>
        </a>
      </div>
    </ion-content>
</ion-view> 
