<ion-view cache-view="false">
    <ion-tabs tabs-swipable class="tabs-stable tabs-icon-top">
        <ion-tab title="Dairy" ui-sref="app.fooditems.vegetableslist" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Bakery" ui-sref="app.fooditems.fruitslist" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Subscription" ui-sref="app.fooditems.subscription" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>