<ion-view class="feeds-categories-view">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row bookmarks-container">
      <div class="col align-center">
      <h3 class="">Thank You</h3>
      <img src="img/smiley.png" style="height: 150px; width: 200px;"/>
      <h3 class="">For Shopping With Us</h3>
      <br>
      <h4 class="h4 padding-btm" ng-if="delivery_time !== 'Deliver Today'">Your order will reach tomorrow</h4>
      <h4 class="h4 padding-btm" ng-if="delivery_time !== 'Deliver Today'">between {{delivery_time}}</h4>
      <h4 class="h4 padding-btm" ng-if="delivery_time === 'Deliver Today'">Your order will reach Today</h4>
      <h4 class="h4 padding-btm" ng-if="delivery_time === 'Deliver Today'">between 4PM to 8PM</h4>
      <center>
      <button type="submit" class="button button-positive button-block btn-share">
                SHARE
      </button>
      <br>
      <div>
                
        <button ng-click="facebook()" style="border: none;background: #eaeaea;"><img src="img/facebook.png" class="img-responsive" data-toggle="tooltip" data-placement="top" title="Facebook"></button>
        <!-- <img src="img/Youtube.png" class="img-responsive" data-toggle="tooltip" data-placement="top" title="YouTube"> -->
       <!--  <button ng-click="instagram()"><img src="img/Instagram.png" class="img-responsive" data-toggle="tooltip" data-placement="top" title="Instagram"></button> -->
        <button ng-click="whatsApp()" style="border: none;background: #eaeaea;"><img src="img/whatsapp.png"  class="img-responsive" data-toggle="tooltip" data-placement="top" title="Whatsapp" style="height: 29px;top: -3px;"></button>
                
      </div>
      </center>
      <div class="footer" style="position:relative;">
      <h3 class="payable">Pay <img src="img/arrow.png" style="height: 23px; width: 39px;"/>
      <span>{{total}}</span>
      </h3>
      <h4 class="h4">To delivery Boy
      </h4>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
