<ion-view title="">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left item-product-box" ng-repeat="vegetable in vegetables" on-tap="showPopup(vegetable.id,vegetable.name,vegetable.hindi_name, vegetable.image_domain,vegetable.image,vegetable.price,vegetable.quan,vegetable.unit)" ng-if="vegetable.price">

                <img ng-src="{{vegetable.image_domain + vegetable.image}}" check-image>
                <h2><span style="display: inline-block;white-space: pre-line;">{{vegetable.name}}</span></h2>
                <h2><span style="display: inline-block;white-space: pre-line;">{{vegetable.hindi_name}}</span></h2>
                <p>{{vegetable.price + " Rs/" + vegetable.quan}}</p>
            </ion-item>
           
        </ion-list>
    </ion-content>
</ion-view> 
