
.invalid
{
    color: red;
    font-size: 11px;
}
.item-select select {
    left: 0;
    margin-left: 7%;
    direction: ltr;
}
.align-center
{
    text-align: center;
}
.align-center h3
{
    font-size: 24px;
}

ion-side-menu .heading-item .user-image-container .user-image {

     border: none!important; 
    padding: 0px;

}
h4.h4
{
    font-size: 18px;
}

button.btn-share
{
    width:120px;
}
.img-responsive
{
    width: 32px;
    height: 34px;
    cursor: pointer;
    position: relative;
    padding-left: 1px;
}

.footer {
    width: 100%;
    min-height: 96px;
    color: #fff;
    border-top: 1px solid #46A240;
    margin-top: 32px;
}
h3.payable
{
    margin-top: 11px;
}
.login-view .tabs .tab-item {
    background: #03819c;
    font-size: 16px;
}
.button.button-light.button-clear {
    color: #3c3931;
}
.bar.app-top-bar {
    background-color: #00cefc;
}
.tabs-striped.tabs-stable .tabs {
    background-color: #0bd2ff;
    padding-top: 17px;
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
    margin-top: 1px;
    border-width: 0px 0px 3px 0px !important;
    border-style: solid;
    font-size: 18px;
    font-weight: 700;
    border-color: #fff;
}
.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
}
.tab-title
{
    color: #fff;
}
ion-side-menu ion-item.item:first-child {
    height: 135px;
    background-image: url(../img/menu-bg.jpg);
}
ion-side-menu .heading-item .user-image-container {
    width: 133px;
    position: absolute;
    top: 0px;
    left: 55px;
}


ion-side-menu ion-item.item .item-content {
    background-color: #ffffff;
}
ion-side-menu ion-content {
    background-color: #ffffff;
}
ion-side-menu ion-item.item .menu-text {
    color: #3e454c;
    font-weight: 500;
    padding-bottom: 2px;
}
ion-side-menu ion-item.item {
    border-color: #f1f1f1;
}
ion-side-menu ion-item.item .item-content .icon:before {
    background-color: #00c4ee;
}
.pane, .view {
    background-color: #f5f5f5;
}
.item-product-box {
    margin-bottom: 7px;
    box-shadow:2px 2px 2px #d0d0d0;
}
.tabs .tab-item .badge.badge-balanced, .badge.badge-balanced {
    background-color: #c93112;
}
.title-menu
{
    color: white;
    margin-left: 15px;
    font-size: 23px;
    margin-top: 7px;
    font-family: Franklin Gothic Medium;
    text-shadow: 2px 2px 4px #22415d;
}
.popup-head  {
    background-color: rgba(0, 206, 252, 0.25);
}
.popup-body {
    background-color: white;
    border-bottom: 1px solid;
}
.popup-select
{
    margin-top: 10px;
    height: 29px;
}
.myselectstyle
{
    margin-top: 11px;
    height: 29px!important;
    margin-bottom: 10px;
    width: 169px!important;
    margin-left: 6px;
    display: inline!important;
    border: 1px solid rgb(169, 169, 169)!important;
}
.currenttab.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
    margin-top: 1px;
    border-width: 0px 0px 3px 0px !important;
    border-style: solid;
    font-size: 17px;
    font-weight: 700;
    border-color: #fff;
}
.main-menu .pre-img.finish-loading img
{
   visibility: visible;
    opacity: 1;
    border-radius: none;
    width: 100%!important;
    height: 100%!important; 
}
.pre-img.finish-loading img {
    visibility: visible;
    opacity: 1;
    border-radius: 50%;
    width: 58px;
    height: 51px;
}
.borderdesign{
    border-color: #fff;
}
.cartremovebutton {
    background-color: transparent;
    border-color: transparent;
    color: red;
    font-size: 31px;
}
.orderView .item-thumbnail-left,.orderView .item-thumbnail-left .item-content {
    min-height: 80px;
}
.popup-container .popup {
    width: 270px!important;
}
.subscriptionPage
{
    background-color: #fff;
}
.subscriptionPage img.titleimg
{
    height: 100px;
    width: 100px;
    position: absolute;
}
.subscriptionPage .titlesub
{
    position: relative;
   margin-left: 138px;
    margin-top: -2px;
}
.subscriptionPage .title-sub-content
{
    border-top: 1px solid #ddd;
    color: #444;
    margin-top: 27px;
    padding: 16px;
    font-size: 16px;
}
.subscriptionPage .style-sub-field
{
    border: 1px solid #ddd;
    float: right;
    height: 22px;
    width: 151px;
    padding-left: 7px;
}
.multiple-date-picker, .picker-days-row, .picker-days-week-row, .picker-top-row {
    width: 100%;
    border: 1px solid #eee;
}
.picker-day:not(.picker-off):not(.picker-empty):hover {
    background-color: #00cefc!important;
    color: #fff;
    cursor: pointer;
}
.picker-day.picker-selected {
    background-color: #00cefc!important;
    color: #fff;
}
.picker-day.picker-selected.picker-off, .picker-day.picker-selected.picker-off:hover {
    background-color: #059c03!important;
    color: #bbb;
    cursor: default;
}
.picker-day.today, .picker-day.today.picker-off, .picker-day.today.picker-off:hover, .picker-day.today.picker-selected, .picker-day.today:hover {
    color: #ff5b0a!important;
    font-weight: 900;
    font-size: 18px;
}
.picker-day.exception:not(.picker-selected){
    background-color: #ded100;
    color: #000;
}

/*apply colors if not selected, if selected I want the default selected css*/
.picker-day.holiday:not(.picker-selected){
    background-color: #00ffa2;
    color: #fff;
}

/*if my holiday isn't clickable (it's the case in the demo)*/
.picker-day.holiday.picker-off{
    background-color: #00a267;
    color: #fff;
    cursor: default;
}

/*my birthday, is clickable*/
.picker-day.birthday:not(.picker-selected){
    background-color: #ded100;
    color: #000;
}
.heading_design{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 13px;
}
.box{ 
  position: relative;
   height: 23px;
    width: 23px;
    left: 19%;
    margin-top: 9px;
}